################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/URLShortener/bin/Debug/net8.0
/URLShortener/obj
/URLShortener/Properties
/.vs/URLShortener
