<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - URL_Shortener.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/URL_Shortener.Web.styles.css" asp-append-version="true" />
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        <nav class="navbar navbar-expand-lg navbar-custom">
            <div class="container-lg">

                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <i class="bi bi-link-45deg me-1"></i> Shortly
                </a>

                <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse" data-bs-target="#mainNav">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mainNav">
                    <ul class="navbar-nav ms-auto me-3">
                        <li class="nav-item">
                            <a asp-controller="Home" asp-action="Index"
                               class="nav-link">Home</a>
                        </li>
                        @*  @if (SignInManager.IsSignedIn(User))   <!-- or: if (User.Identity.IsAuthenticated) -->
                        {
                            <li class="nav-item">
                                <a asp-controller="Secret" asp-action="Index" class="nav-link">Secret</a>
                            </li>
                        } *@
                    </ul>

                    <!-- login / register partial still works -->
                    <partial name="_LoginPartial" />

                    <!-- OR, if you don't use that partial, a simple button: -->
                    @* <button class="login-btn ms-lg-2">Sign in</button> *@
                </div>

            </div>
        </nav>
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-blue-500">
        <div class="container">
            &copy; 2025 - URL_Shortener.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
