@model URL_Shortener.Web.Models.UrlVMs.ShortenUrlVm
@{
    ViewData["Title"] = "Create";
}
<h2>Create new URL</h2>
<form asp-action="Create" method="post" class="vstack gap-3">
    @Html.AntiForgeryToken()
    <input asp-for="TargetUrl" class="form-control" />
    <span asp-validation-for="TargetUrl" class="text-danger"></span>
    <button type="submit" class="btn btn-primary">Shorten</button>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}